/*
"Be aware of the many CSS selectors available: https://www.w3schools.com/cssref/css_selectors.asp.
That way, you can intuitively pick the right one for any context."
*/

/* For device widths: https://viewportsizer.com/devices/. */

/* Remember "tab test" for accessibility. */

/************************************************************
********** For Mobile/Narrow Viewport **********
************************************************************/

/* Remember I worked with FEM's mobile demo at zoom [N/A this time]. */

/* Always use this, as Brian Holt advises. It makes the size ("width", for example) of every element equal to the element's content + its padding + its border, and not inclusive of margin of course. */

/********************
NOTE: Because I wasn't taking the CSS seriously for this project (the point was mainly to work on the JS), I basically put what I'd put in the desktop viewport in the mobile viewport instead. Just be aware of that in case I come back to this project and try to do the CSS for real.
********************/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Commissioner', sans-serif;
    padding: 0 350px;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
}

/****************************************
header
****************************************/

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin-right: 10px;
}

.menu button {
    border: none;
    cursor: pointer;
}


/****************************************
main
****************************************/

main {
    background-color: paleturquoise;
    padding: 0 200px;
}

main section {
    margin-top: 20px;
    background-color: lightblue;
    padding: 0 25px;
}

.header-section ul {
    display: flex;
    justify-content: space-between;
}

.stats-section div:first-child {
    display: flex;
    justify-content: flex-start;
}

.stats-section ul:first-child {
    margin-right: 35px;
}

.stats-section ul:nth-of-type(2) {
    margin-left: 35px;
    margin-right: 35px;
}

.stats-section ul:last-child {
    margin-left: 35px;
}

.stats-section ul li:last-child {
    font-size: 9px;
    color: gray;
}

.stats-section div:last-child {
    display: flex;
    justify-content: center;
}

#points {
    width: 350px;
}

.reward {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 25px;
}

.reward ul {
    display: flex;
    justify-content: space-between;
}

/****************************************
footer
****************************************/

.attribution {
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%); /*hsl(hue, saturation, lightness)*/
}

/****************************************
modals
****************************************/

/********** "Back this project" modal - START **********/

.back-proj-modal {
    display: none; /* hidden by default */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    /*overflow: auto;*/ /* enable scroll if needed */
    background-color: black; /* fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* black w/ opacity */
}

/* Modal content/box */
.back-proj-modal-content {
    background-color: white;
    margin: 1% auto; /* 2% from the top and centered */
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 31%;
}

.close-modal {
    cursor: pointer;
    float: right;
}

.back-proj-modal-content h2 {
    font-size: 18px;
}

.back-proj-modal-content p {
    font-size: 12px;
}

.pledge {
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 19px 12px;
    font-size: 12px;
}

.pledge ul:first-child {
    display: flex;
}

.pledge ul:first-child, .pledge li:nth-of-type(2), .pledge li:nth-of-type(3) {
    margin: 0;
}

.check-to-choose {
    cursor: pointer;
}

.pledge li:nth-of-type(2) {
    margin-right: 12px;
    padding-left: 10px;
}

.pledge h3, .pledge h4 {
    margin: 0;
}

.pledge h3 {
    font-size: 12px;
    cursor: pointer;
}

.pledge ul:first-child li:nth-of-type(4) {
    position: absolute;
    right: 580px; /* distance from right */
}

.pledge p {
    margin: 0;
    padding-top: 5px;
    padding-left: 30px;
}

/* Selected pledge start */

/*Making a line without any HTML (e.g., <hr>) for it.*/
.enter-pledge::before {
    cursor: auto;
    content: '';
    display: block;
    border-bottom: 1.5px solid lightgray;
    margin: 19px 0 17px 0;
}

.is-hidden {
    display: none;
}

.enter-pledge-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enter-pledge-content li:nth-of-type(2) {
    padding: 0;
    margin: 0;
}

.dollars-pledged-form {
    margin-left: 97px;
}

.dollars-pledged {
    cursor: pointer;
    text-align: center;
}

.dollars-pledged, .pledge-continue-btn {
    width: 80px;
    padding: 6px 0;
    margin-left: 15px;
    border-radius: 17px;
}

.pledge-continue-btn {
    background-color: hsl(176, 50%, 47%);
    color: white;
}

/* Selected pledge end */

/********** "Back this project" modal - END **********/

/********** "Thanks..." modal - START **********/

/* Modal positioning and background */
.thank-you-modal {
    display: none; /* hidden by default */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    background-color: black; /* fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* black w/ opacity */
}

/* Modal content/box */
.thank-you-modal-content {
    text-align: center;
    background-color: white;
    margin: 14% auto; /* 14% from the top and centered */
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
}

.thank-you-modal-content h2 {
    font-size: 21px;
}

/* Modal close button */
.got-it-btn {
    color: white;
    background-color: hsl(176, 50%, 47%);
    font-weight: 500;
    border: none;
    font-family: 'Commissioner', sans-serif;
    padding: 15px 30px;
    border-radius: 40px;
    margin-bottom: 17px;
}

.got-it-btn:hover, .got-it-btn:focus {
    background-color: hsl(176, 72%, 28%);
    text-decoration: none;
    cursor: pointer;
}

/********** "Thanks..." modal - END **********/

/************************************************************
********** For Desktop/Wide Viewport **********
************************************************************/
  
@media screen and (min-width: 768px) { /* starting at width of 768px, the code below (which is only for CHANGES to the above code) will take effect. */

    /****************************************
    header
    ****************************************/

    /****************************************
    main
    ****************************************/        

    /****************************************
    footer
    ****************************************/

}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/* KEEP THIS AS A REFERENCE:

parent/container/row {
display: flex;    mandatory 
flex-direction: ;    row (default) | row-reverse | column | column-reverse 
justify-content: ;    flex-start (default) | flex-end | center | space-between | space-around | space-evenly 
align-items: ;    flex-start | flex-end | center | (baseline) | stretch (default) 
flex-wrap: ;    nowrap (default) | wrap | wrap-reverse 
align-content: ;    flex-start | flex-end | center | space-between | space-around | stretch (default)

note on 'align-content' (paraphrased from flexboxfroggy.com): 'align-content' determines the spacing between lines, while 'align-items' determines how the items as a whole are aligned within the container; when there is only one line, 'align-content' has no effect

flex-flow: ;    this is shorthand for 'flex-direction: ;' and 'flex-wrap: ;' (e.g., 'flex-flow: column wrap;')
}

child/item/cell {
align-self: ;    flex-start | flex-end | center | (baseline) | stretch (default)
flex-grow: ;    0 is default (Jen Kramer: This is very hard to understand)
flex-shrink: ;    1 is default (Jen Kramer: This is very hard to understand)
flex-basis: ;    auto is default (Jen Kramer: This is basically the 'width' property--never use with Flexbox--but with some flexibility you can't control)
order: ;    0 is default

flex: [flex-grow number, flex-shrink number, flex-basis number];    this is a way (instead of using % outside of Flexbox) to set relative sizes of elements. (This is how I THOUGHT 'flex-grow' worked.) An example is 'flex: 1 1 0;' (the shorthand for which is the oft-used 'flex: 1;').

margin-top: auto;    this puts the element at the bottom.
}

*/